/* ESTILO GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 70vh;
  font-family: "Roboto", sans-serif;
}

.interface {
  max-width: 100%;
  margin: 0 auto;
}

/* ESTILO CABEÇALHO */
header {
  padding: 0.5% 4%;
  background-color: #121521;
  border-bottom: 1px solid #21418c;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: white;
  transform: scale(1.05);
  font-weight: bold;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

header .contato button {
  padding: 7px 35px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(32, 191, 223);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgb(23, 99, 114);
}

header .contato button:houver {
  box-shadow: 0px 2px 4px rgb(23, 99, 114);
}

#organograma_mor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.organograma {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.pessoas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicos {
  padding: 190px 70px 0px 70px;
  color: white;
  font-size: 280%;
  font-family: "Handjet", sans-serif;
}

.apresentacao {
  padding: 45px 80px 0px 70px;
  color: white;
  font-size: 130%;
  font-family: "Handjet", sans-serif;
  max-width: 50%;
  text-align: justify;
}

#saiba_mais{
  padding: 10px 35px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(32, 191, 223);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgb(23, 99, 114);
  margin: 5%;
}